---
import "../lib/css/global.css";

const { domain, username } = Astro.props;
const description = `${domain} is a ${username}'s owned domain name, actually parked.`;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{domain}</title>
		<meta name="description" content={description} />
		<meta name="author" content={username} />
		<link rel="icon" type="image/png" href="assets/img/logo/colorful.png" />
		<script is:inline src="assets/js/favicon.js"></script>
	</head>
	<body>
		<div class="container">
			<slot />
		</div>
	</body>
</html>

<style>
	.container {
		text-align: center;
		padding: 2rem;
	}
</style>
